<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title><!-- TYTUŁ POSTA --></title>
</head>
<body>
    <!-- HEADER -->
    <header class="navbar">
        <div>
            <h1>Header</h1>
        </div>
        <nav>
            <a href="#">O mnie</a>
            <a href="#">Projekty</a>
            <a href="#">Blog</a>
            <a href="#">Kontakt</a>
        </nav>
    </header>

    <div class="content">
        <article>
            <header class="postHeader">
                <h1><!-- TYTUŁ POST --></h1>
                <h4><!-- DATA POSTU --></h4>
                <div class="links"> 
                    <a class="link" id="share"> <!-- PERMALINK POSTA -->
                        <img src="../imgs/example.jpg">
                        <span>Udostępnij</span>
                    </a>
                    <a class="link" id="cite"> <!-- CITATION POSTA -->
                        <img src="../imgs/example.jpg">
                        <span>Cytuj</span>
                    </a>
                </div>
            </header>
            <div class="postPhoto"> <!-- IMG POSTA -->
                <img src="../imgs/example.jpg">
            </div>

            <main>
                <p><!-- TREŚĆ POSTA --></p>
            </main>

        </article>

    </div>





    <footer>
        <span>2024 Footer</span>
    </footer>
</body>
</html>